@import '~bootstrap/dist/css/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

// アプリケーション独自の定義
.taskul-right {
  margin-left: auto;
}

#taskul-user {
  width: 100%;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url("~images/user.png");
}

// TODO:別ファイルに切り出す場合は？